# URL base de la API de merkee.shop
VITE_API_BASE_URL=https://api.merkee.shop/v1

# Usar mocks en lugar de la API real (true/false)
# Cuando está en true, la aplicación usa datos mockeados sin conectar a la API
VITE_USE_MOCKS=true